@model List<ProductVM>
<h1>Product</h1>


<a asp-area="Product" asp-controller="Product" asp-action="Create">create</a>

<br>

@foreach (var product in Model) {
    <span>@product.Id - @product.Name</span> 
    <a asp-area="Product" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
    <a asp-area="Product" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>  
    <a asp-area="Product" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
    <br>
}


