@model ProductVM
@{
    List<CategoryModel> categories = ViewData["categories"] as List<CategoryModel>;
    List<AttributeModel> attributes = ViewData["attributes"] as List<AttributeModel>;
    List<TaxModel> privateTaxes = ViewData["privateTaxes"] as List<TaxModel>;
}

<h1>Update Product</h1>

<form method="POST" asp-area="Product" asp-controller="Product" asp-action="Update">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description">
        <span asp-validation-for="Description"></span>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>


    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity">
        <span asp-validation-for="Quantity"></span>
    </div>

    <div>
        <label asp-for="IsActive"></label>
        <input asp-for="IsActive">
        <span asp-validation-for="IsActive"></span>
    </div>

    <div>
        <label asp-for="Discount"></label>
        <input asp-for="Discount">
        <span asp-validation-for="Discount"></span>
    </div>

    <h3>Thuộc tính</h3>
    @foreach (var atrr in attributes) {
        <div>
            <label>@atrr.Name</label>
            @if (@atrr.AttributeValues.Count > 0) {
                foreach (var attributeValue in atrr.AttributeValues) {
                    if (attributeValue.ProductId == Model.Id) {
                        <input name="DynamicAttributes[@atrr.Id]" value="@attributeValue.Content">
                    }else {
                        <input name="DynamicAttributes[@atrr.Id]">
                    }
                }
            }else {
                <input name="DynamicAttributes[@atrr.Id]">
            }
        </div>
    }

    <h3>Thuế</h3>
    <div>
        @foreach (var tax in privateTaxes) {
            string checkTax = null;
            foreach (var taxProduct in tax.TaxProducts) {
                if (taxProduct.ProductId == Model.Id) {
                    checkTax = "checked";
                }
            }
            <label>
                <input type="checkbox" name="PrivateTaxIds" value="@tax.Id" @checkTax> @tax.Name
            </label>
            
        }
    </div>

    <h3>Danh mục</h3>
    <div>
        @foreach (var category in categories) {
            string checkCategory = null;
            foreach (var categoryProduct in category.CategoryProducts) {
                if (categoryProduct.ProductId == Model.Id) {
                    checkCategory = "checked";
                }
            }
            <label>
                <input type="checkbox" name="CategoryIds" value="@category.Id" @checkCategory> @category.Name
            </label>
        }
    </div>


    <button type="submit">Cập nhật sản phẩm</button>
</form>