@model List<TaxViewModel>
<h1>Tax</h1>


<a asp-area="tax" asp-controller="tax" asp-action="Create">create</a>

<br>

@foreach (var tax in Model) {
    <span>@tax.Id - @tax.Name</span> 
    <a asp-area="Tax" asp-controller="Tax" asp-action="Detail" asp-route-id="@tax.Id">Detail</a>
    <a asp-area="Tax" asp-controller="Tax" asp-action="Update" asp-route-id="@tax.Id">Update</a>  
    <a asp-area="Tax" asp-controller="Tax" asp-action="Delete" asp-route-id="@tax.Id">Delete</a>
    <br>
}


