@model List<OrderVM>
<h1>order</h1>


<a asp-area="Order" asp-controller="Order" asp-action="Create">create</a>

<br>

@foreach (var order in Model) {
    <span>@order.Id - @order.Name</span> 
    <a asp-area="order" asp-controller="order" asp-action="Detail" asp-route-id="@order.Id">Detail</a>
    <a asp-area="order" asp-controller="order" asp-action="Update" asp-route-id="@order.Id">Update</a>  
    <a asp-area="order" asp-controller="order" asp-action="Delete" asp-route-id="@order.Id">Delete</a>
    <br>
}