@model List<AttributeVM>
<h1>Attributes</h1>


<a asp-area="DynamicAttribute" asp-controller="Attribute" asp-action="Create">create</a>

<br>

@foreach (var atrr in Model) {
    <span>@atrr.Id - @atrr.Name</span> 
    <a asp-area="DynamicAttribute" asp-controller="Attribute" asp-action="Detail" asp-route-id="@atrr.Id">Detail</a>
    <a asp-area="DynamicAttribute" asp-controller="Attribute" asp-action="Update" asp-route-id="@atrr.Id">Update</a>  
    <a asp-area="DynamicAttribute" asp-controller="Attribute" asp-action="Delete" asp-route-id="@atrr.Id">Delete</a>
    <br>
}
